<footer class = "footer py-3 px-2">
    <div class = "col-2">
        <div class = "contact">
            <h2>Contactez-nous :</h2>
            <p>Mont Céleste</p>
            <p>1 Rue du pont cassé</p>
        </div>
    </div>
</footer>