{% extends 'base.html.twig' %}

{% block body %}
    <h1 class = "text-color ">Liste Des Commentaires</h1>
        {% for comment in comments %}
            <div class="card-body col-4 card-border my-2 d-flex justify-content center flex-column">
                <div>
                    <p class="card-text d-flex justify-content-center">{{comment.message}}</p>
                    <div class="d-flex justify-content-center  flex-column">
                        {% if comment.modificationDate %}
                            <p class = "center">Dernière modification le :{{comment.modificationDate ? comment.modificationDate|date('d-m-Y') : ''}}</p>
                        {% else %}
                            <p class= "center"> Créé le {{comment.creationDate ? comment.creationDate|date('d-m-Y') : ''}}</p>
                        {% endif %}
                        <p class = "center"> Créé par  : pseudo</p>
                    </div>  
                    {{ include('comment/_delete_form.html.twig') }}
                </div>
            </div>
        {% else %}
                <p>Aucun  commentaire trouvé</p>
        {% endfor %}
       
    
{% endblock %}
