@font-face {
  font-family: "Chicago";
  src:
    url("../font/Chicago/Chicago.otf"),
}
*{
    margin:0;
    padding:0;
    font-family: "Chicago";
    color: var(--nav-footer-text-color--);
}
:root{
    --body-bg-color--: rgb(26, 56, 116);
    --body-text-color--:white;
    --nav-footer-text-color--: rgb(212, 80, 95);
    --nav-footer-bg-color--:rgb(75, 148, 242);
    
}
body{
    background-color: var(--body-bg-color--);
}
.font{
    font-family: "Chicago";
}
.h2{
    font-size: 25px;
}
.text-color{
    color: var(--nav-footer-text-color--);
}
.scale-down{
    width: 10%;
}
.center{
    display:flex;
    justify-content: center;
    justify-self: center;
    align-content: center;
    align-self: center;
}
.nav,.footer,.nav-link{
    background-color: var(--nav-footer-bg-color--);
    color: var(--nav-footer-text-color--);
}
.contact{
    display :flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--body-bg-color--);
    
}
.nav{
    display: flex;
    justify-content: space-evenly;
}
.button{
    border-radius: 5px;
    display:flex;
    justify-self: center;
    border-color: var(--nav-footer-text-color--) ;
    color: var(--nav-footer-text-color--);
    background-color: var(--body-bg-color--);
}
.button:hover{
    
    background-color: var(--nav-footer-bg-color--);
    color: var(--nav-footer-text-color--);
    
}
.nav-item:hover{
    border-color: var(--nav-footer-text-color--);
    background-color:var(--body-bg-color--);
    color: var(--body-text-color--);
}
.nav-link:hover{
    color: var(--nav-footer-text-color--);
}
.card-header,.card-body{
    background-color: var(--body-bg-color--);
}
.card-border{
    border : 2px solid var(--nav-footer-text-color--); 
}