<form method="post" action="{{ path('app_topic_delete', {'id': topic.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet ojet?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ topic.id) }}">
    <button class="btn button my-2">Supprimer</button>
</form>
