
{% extends 'base.html.twig' %}


{% block body %}
    <div class="container flex-column">
        <h1 class ="text-color d-flex justify-content-center">Topics :</h1>
            {% for topic in topics %}               
    
                <a class="text-color py-4 col-6 card-border my-2 mx-3 center" href="{{ path('app_topic_show', {'id': topic.id}) }}">{{topic.title}} </a>
            {# Si il n'y a aucun topic #}
            {% else %}
                <p>Aucun Topic Trouvé</p>
            {% endfor %}
        <a class = "btn button my-2 font" href="{{ path('app_topic_new') }}">Créer un Topic</a>
    </div>
{% endblock %}
