{% extends 'base.html.twig' %}


{% block body %}

{% if app.user %}
   <h1 class="d-flex justify-content-center">Bonjour {{ app.user.pseudo }}</h1>
{% else %}
   <h1 class="d-flex justify-content-center">Bienvenue Sur le Forum Du Pic!</h1>
{% endif %}

   

{% endblock %}
